*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
app/libs/*.aar
*.apk
*.apks
*.keystore
LionRayVPN-*
LionRayVPN/
KEYSTORE_BASE64.txt
build.err.log
.gradle
local.properties
